<p-panel header="Policy Types" styleClass="policy-panel">
  <div class="p-grid policy-container">
    <div
      class="p-col-12 p-md-4"
      *ngFor="let policy of policyOptions"
    >
      <p-card
        header="{{ policy.label }}"
        [style]="{ width: '100%', height: '100%' }"
        [class.hovered]="policy.isHovered"
        (mouseenter)="hoverPolicy(policy)"
        (mouseleave)="resetPolicy(policy)"
        styleClass="policy-card"
      >
        <ng-template pTemplate="header">
          <div class="icon-container">
            <i [class]="policy.icon" class="policy-icon"></i>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <p>{{ policy.details }}</p>
        </ng-template>
        <ng-template pTemplate="footer">
          <button
            pButton
            label="Explore"
            icon="pi pi-external-link"
            class="p-button-primary"
            (click)="explorePolicy(policy)"
          ></button>
        </ng-template>
      </p-card>
    </div>
  </div>
</p-panel>
