<div class="p-grid p-dir-col p-align-center p-mt-4">
  
  <p-card class="p-mb-4 p-shadow-4 welcome-card">
    <ng-template pTemplate="title">
      Welcome to IBC Health Insurance CRM
    </ng-template>
    <ng-template pTemplate="subtitle">
      Your one-stop solution for managing customers and policies with excellence.
    </ng-template>
    <ng-template pTemplate="content">
      <div class="button-column">
        <p-button 
          label="Explore Policies" 
          icon="pi pi-search" 
          class="p-button-rounded p-button-info explore-button" 
          [routerLink]="['/policy-types']">
        </p-button>
        <p-button 
          label="Explore Customers" 
          icon="pi pi-search" 
          class="p-button-rounded p-button-info explore-button" 
          [routerLink]="['/customers']">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  
  <p-panel header="About Us" class="p-shadow-3 p-mb-4">
    <div class="p-grid p-align-center p-col-12 about-us-row">
      
      <div class="p-col-12 p-md-7 about-text">
        <p>
          <strong>{{ companyDetails.name }}</strong> <br />
          {{ companyDetails.history }}
        </p>
        <p>
          <i>{{ companyDetails.mission }}</i>
        </p>
        <ul>
          <li>{{ companyDetails.revenue }}</li>
          <li>{{ companyDetails.compensation }}</li>
        </ul>
      </div>

      
      <div class="p-col-12 p-md-5 about-image">
        <img
          src="assets/images/IBC.png"
          alt="IBC Headquarters"
        />
      </div>
    </div>
  </p-panel>

  
  <p-card class="p-shadow-4 p-mb-4" >
    <ng-template pTemplate="header">
      <div class="p-d-flex p-ai-center">
        <i class="pi pi-bell p-mr-2"></i>
        Latest News
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="news-container">
        <div *ngFor="let news of newsItems" class="news-card">
          <p>{{ news }}</p>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
