<p-card>
    <div class="grid align-items-center footer">
      <div class="col-12 text-center">
        <p>&copy; 2024 | Designed by Abhishek</p>
        <p>IBC Address: Pennsylvania, USA</p>
        <p>
          Contact us: 
          <a href="mailto:contact@ibc.com" class="contact-link">contact&#64;ibc.com</a>
        </p>
        <p>
          <a href="#" class="footer-link">Privacy Policy</a> | 
          <a href="#" class="footer-link">Terms & Conditions</a>
        </p>
      </div>
    </div>
</p-card>
  